h20389
s 00000/00000/00228
d D 8.1 93/06/11 15:04:23 bostic 5 4
c 4.4BSD snapshot (revision 8.1)
e
s 00001/00001/00227
d D 7.4 93/05/30 21:04:06 utashiro 4 3
c lseek -> olseek
e
s 00004/00004/00224
d D 7.3 93/05/17 21:20:44 utashiro 3 2
c truncate, ftruncate, getrlimit, setrlimit are now compat
e
s 00056/00093/00172
d D 7.2 93/04/08 02:39:17 utashiro 2 1
c serious support for NEWS-OS
e
s 00265/00000/00000
d D 7.1 93/03/10 00:00:05 utashiro 1 0
c date and time created 93/03/10 00:00:05 by utashiro
e
u
U
t
T
I 1
	%W% (Berkeley) %G%
; System call name/number master file (or rather, slave, from NEWS-OS).
; Processed to created news_sysent.c, news_syscalls.c and news_syscall.h.

; Columns: number type nargs name altname/comments
;	number	system call number, must be in order
;	type	one of STD, OBSOL, UNIMPL, COMPAT
;	nargs	number of arguments
;	name	name of syscall routine
;	altname	name of system call if different
;		for UNIMPL/OBSOL, name continues with comments

; types:
;	STD	always included
;	COMPAT	included on COMPAT #ifdef
;	LIBCOMPAT included on COMPAT #ifdef, and placed in syscall.h
;	OBSOL	obsolete, not included in system, only specifies name
;	UNIMPL	not implemented, placeholder only

; #ifdef's, etc. may be included, and are copied to the output files.

; Reserved/unimplemented system calls in the range 0-150 inclusive
; are reserved for use in future Berkeley releases.
; Additional system calls implemented in vendor and other
; redistributions should be placed in the reserved range at the end
; of the current calls.

0	UNIMPL	0 nosys indir
1	STD	1 rexit exit
2	STD	0 fork
3	STD	3 read
4	STD	3 write
5	STD	3 open
6	STD	1 close
7	STD	4 wait4
D 2
8	COMPAT	2 creat
E 2
I 2
8	STD	2 ocreat
E 2
9	STD	2 link
10	STD	1 unlink
11	OBSOL	2 execv
12	STD	1 chdir
D 2
13	STD	1 fchdir
E 2
I 2
13	COMPAT	1 news_time
E 2
14	STD	3 mknod
15	STD	2 chmod
16	STD	3 chown
17	STD	1 obreak break
D 2
18	STD	3 getfsstat
E 2
I 2
18	OBSOL	3 stat
E 2
D 4
19	STD	3 lseek
E 4
I 4
19	STD	3 olseek
E 4
20	STD	0 getpid
21	STD	4 mount
D 2
22	STD	2 unmount
E 2
I 2
22	OBSOL	1 umount
E 2
23	STD	1 setuid
24	STD	0 getuid
D 2
25	STD	0 geteuid
E 2
I 2
25	OBSOL	1 stime
E 2
26	STD	4 ptrace
D 2
27	STD	3 recvmsg
28	STD	3 sendmsg
29	STD	6 recvfrom
30	STD	3 accept
31	STD	3 getpeername
32	STD	3 getsockname
E 2
I 2
27	OBSOL	1 alarm
28	OBSOL	2 fstat
29	OBSOL	0 pause
30	OBSOL	2 utime
31	UNIMPL	0 nosys
32	UNIMPL	0 nosys
E 2
33	STD	2 saccess access
D 2
34	STD	2 chflags
35	STD	2 fchflags
E 2
I 2
34	OBSOL	2 access
35	OBSOL	1 ftime
E 2
36	STD	0 sync
37	STD	2 kill
D 2
38	COMPAT	2 stat
39	STD	0 getppid
40	COMPAT	2 lstat
E 2
I 2
38	STD	2 ostat
39	OBSOL	2 setpgrp
40	STD	2 olstat
E 2
41	STD	2 dup
42	STD	0 pipe
D 2
43	STD	0 getegid
E 2
I 2
43	OBSOL	1 times
E 2
44	STD	4 profil
D 2
#ifdef KTRACE
45	STD	4 ktrace
#else
45	UNIMPL	0 ktrace
#endif
46	STD	3 sigaction
E 2
I 2
45	UNIMPL	0 nosys
46	OBSOL	1 setgid
E 2
47	STD	0 getgid
D 2
48	STD	2 sigprocmask
49	STD	2 getlogin
50	STD	1 setlogin
E 2
I 2
48	OBSOL	2 ssig sig
49	UNIMPL	0 nosys
50	UNIMPL	0 nosys
E 2
51	STD	1 sysacct acct
D 2
52	STD	0 sigpending
53	STD	2 sigaltstack
E 2
I 2
52	UNIMPL	0 nosys
53	UNIMPL	0 nosys
E 2
54	STD	3 ioctl
55	STD	1 reboot
D 2
56	STD	1 revoke
E 2
I 2
56	UNIMPL	0 nosys
E 2
57	STD	2 symlink
58	STD	3 readlink
59	STD	3 execve
60	STD	1 umask
61	STD	1 chroot
D 2
62	COMPAT	2 fstat
63	STD	4 getkerninfo
64	STD	0 getpagesize
65	STD	2 msync
E 2
I 2
62	STD	2 ofstat
63	UNIMPL	0 nosys
64	STD	0 ogetpagesize
65	UNIMPL	5 news_mremap
E 2
66	STD	0 vfork
67	OBSOL	0 vread
68	OBSOL	0 vwrite
69	STD	1 sbrk
70	STD	1 sstk
D 2
71	COMPAT	7 smmap mmap
E 2
I 2
71	UNIMPL	6 news_mmap
E 2
72	STD	1 ovadvise vadvise
73	STD	2 munmap
74	STD	3 mprotect
75	STD	3 madvise
76	OBSOL	0 vhangup
77	OBSOL	0 vlimit
78	STD	3 mincore
79	STD	2 getgroups
80	STD	2 setgroups
81	STD	0 getpgrp
82	STD	2 setpgid
83	STD	3 setitimer
D 2
84	COMPAT	0 wait
E 2
I 2
84	STD	3 owait
E 2
85	STD	1 swapon
86	STD	2 getitimer
D 2
87	STD	2 gethostname
88	STD	2 sethostname
E 2
I 2
87	STD	2 ogethostname
88	STD	2 osethostname
E 2
89	STD	0 getdtablesize
90	STD	2 dup2
91	UNIMPL	2 getdopt
92	STD	3 fcntl
93	STD	5 select
94	UNIMPL	2 setdopt
95	STD	1 fsync
96	STD	3 setpriority
97	STD	3 socket
98	STD	3 connect
D 2
99	COMPAT	3 accept
E 2
I 2
99	STD	3 oaccept
E 2
100	STD	2 getpriority
D 2
101	COMPAT	4 send
102	COMPAT	4 recv
E 2
I 2
101	STD	4 osend
102	STD	4 orecv
E 2
103	STD	1 sigreturn
104	STD	3 bind
105	STD	5 setsockopt
106	STD	2 listen
107	OBSOL	0 vtimes
D 2
108	COMPAT	3 sigvec
109	COMPAT	1 sigblock
110	COMPAT	1 sigsetmask
E 2
I 2
108	STD	3 osigvec
109	STD	1 osigblock
110	STD	1 osigsetmask
E 2
111	STD	1 sigsuspend
D 2
112	COMPAT	2 sigstack
113	COMPAT	3 recvmsg
114	COMPAT	3 sendmsg
E 2
I 2
112	STD	2 osigstack
113	STD	3 orecvmsg
114	STD	3 osendmsg
E 2
#ifdef TRACE
115	STD	2 vtrace
#else
115	OBSOL	2 vtrace
#endif
116	STD	2 gettimeofday
117	STD	2 getrusage
118	STD	5 getsockopt
119	UNIMPL	0 nosys
120	STD	3 readv
121	STD	3 writev
122	STD	2 settimeofday
123	STD	3 fchown
124	STD	2 fchmod
D 2
125	COMPAT	6 recvfrom
126	COMPAT	2 setreuid
127	COMPAT	2 setregid
E 2
I 2
125	STD	6 orecvfrom
126	STD	2 osetreuid
127	STD	2 osetregid
E 2
128	STD	2 rename
D 3
129	STD	2 truncate
130	STD	2 ftruncate
E 3
I 3
129	STD	2 otruncate
130	STD	2 oftruncate
E 3
131	STD	2 flock
D 2
132	STD	2 mkfifo
E 2
I 2
132	UNIMPL	0 nosys
E 2
133	STD	6 sendto
134	STD	2 shutdown
135	STD	5 socketpair
136	STD	2 mkdir
137	STD	1 rmdir
138	STD	2 utimes
139	OBSOL	0 4.2 sigreturn
140	STD	2 adjtime
D 2
141	COMPAT	3 getpeername
142	STD	0 gethostid
143	STD	1 sethostid
E 2
I 2
141	STD	3 ogetpeername
142	STD	0 ogethostid
143	STD	1 osethostid
E 2
D 3
144	STD	2 getrlimit
145	STD	2 setrlimit
E 3
I 3
144	STD	2 ogetrlimit
145	STD	2 osetrlimit
E 3
D 2
146	COMPAT	2 killpg
147	STD	0 setsid
E 2
I 2
146	STD	2 okillpg
147	UNIMPL	0 nosys
E 2
148	STD	4 quotactl
D 2
149	COMPAT	4 quota
150	COMPAT	3 getsockname
E 2
I 2
149	STD	4 oquota
150	STD	3 ogetsockname
E 2

; Syscalls 151-180 inclusive are reserved for vendor-specific
; system calls.  (This includes various calls added for compatibity
; with other Unix variants.)
; Some of these calls are now supported by BSD...
151	STD	1 news_setenvp
152	STD	5 news_sysnews
153	UNIMPL	0 nosys
154	UNIMPL	0 nosys
#ifdef NFS
155	STD	2 nfssvc
#else
155	UNIMPL	0 nosys
#endif
D 2
156	COMPAT	4 getdirentries
E 2
I 2
156	STD	4 ogetdirentries
E 2
157	STD	2 statfs
158	STD	2 fstatfs
D 2
159	UNIMPL	0 nosys
160	UNIMPL	0 nosys
E 2
I 2
159	UNIMPL	1 news_unmount
160	UNIMPL	0 news_async_daemon
E 2
#ifdef NFS
161	STD	2 getfh
#else
161	UNIMPL	0 nosys
#endif
162	STD	2 sun_getdomainname
163	STD	2 sun_setdomainname
164	UNIMPL	0 nosys
165	UNIMPL	0 nosys
166	UNIMPL	0 nosys
167	UNIMPL	0 nosys
168	UNIMPL	0 nosys
169	UNIMPL	0 nosys
170	UNIMPL	0 nosys
#ifdef SYSVSHM
171	STD	4 shmsys
#else
171	UNIMPL	0 nosys
#endif
172	UNIMPL	0 nosys
173	UNIMPL	0 nosys
174	STD	3 sun_getdents
175	UNIMPL	0 nosys
176	UNIMPL	0 nosys
177	UNIMPL	0 nosys
178	UNIMPL	0 nosys
179	UNIMPL	0 nosys
D 2
180	UNIMPL	0 nosys

; Syscalls 180-199 are used by/reserved for BSD
181	STD	1 setgid
182	STD	1 setegid
183	STD	1 seteuid
184	UNIMPL	0 nosys
185	UNIMPL	0 nosys
186	UNIMPL	0 nosys
187	UNIMPL	0 nosys
188	STD	2 stat
189	STD	2 fstat
190	STD	2 lstat
191	UNIMPL	0 nosys
192	UNIMPL	0 nosys
193	UNIMPL	0 nosys
194	STD	2 __getrlimit
195	STD	2 __setrlimit
196	STD	4 getdirentries
197	STD	8 smmap mmap
198	STD	0 nosys __indir
199	STD	5 __lseek
200	STD	4 __truncate
201	STD	4 __ftruncate
202	UNIMPL	0 nosys
203	UNIMPL	0 nosys
204	UNIMPL	0 nosys
205	UNIMPL	0 nosys
206	UNIMPL	0 nosys
207	UNIMPL	0 nosys
208	UNIMPL	0 nosys
209	UNIMPL	0 nosys
210	UNIMPL	0 nosys
E 2
E 1
