h50132
s 00000/00000/00007
d D 8.2 95/04/28 17:07:54 christos 4 3
c Updated to the latest version from the NetBSD source
e
s 00000/00000/00007
d D 8.1 93/06/06 15:18:25 bostic 3 2
c 4.4BSD snapshot (revision 8.1)
e
s 00002/00003/00005
d D 5.2 91/05/12 15:25:44 bostic 2 1
c don't build the man page
e
s 00008/00000/00000
d D 5.1 90/06/25 17:25:48 bostic 1 0
c date and time created 90/06/25 17:25:48 by bostic
e
u
U
t
T
I 1
# a very simple makefile...
pmake:
D 2
	@echo 'make of make and make.0 started.'
E 2
I 2
	@echo 'make started.'
E 2
	cc -I. -c *.c
	cd lst.lib; cc -I.. -c *.c
	cc *.o lst.lib/*.o -o pmake
D 2
	nroff -h -man make.1 > make.0
	@echo 'make of make and make.0 completed.'
E 2
I 2
	@echo 'make completed.'
E 2
E 1
