h53817
s 00003/00006/00067
d D 1.5 93/07/29 17:32:04 elan 5 4
c letter assuming that we distribute all documents
e
s 00005/00006/00068
d D 1.4 93/07/29 17:26:14 elan 4 3
c comments from Pauline
e
s 00006/00009/00068
d D 1.3 93/07/29 16:56:48 elan 3 2
c update list of source architectures
e
s 00026/00023/00051
d D 1.2 93/07/29 16:38:35 bostic 2 1
c pass #2!
e
s 00074/00000/00000
d D 1.1 93/07/29 15:43:49 elan 1 0
c date and time created 93/07/29 15:43:49 by elan
e
u
U
t
T
I 1
.\"	%W% (Berkeley) %G%
.\"
.\" use -ms
.\"
.so HEADERS
.FH
D 3
.sp .75i
E 3
.tl '''June 30, 1993'
.LP
Dear Colleague:
.sp
D 5
.PP
E 5
I 5
.LP
E 5
D 2
Thank-you for ordering 4.4BSD.
Your distribution contains the ``User Reference Manual'' (URM),
E 2
I 2
Thank-you for ordering 4.4BSD!
.PP
The 4.4BSD distribution contains the ``User Reference Manual'' (URM),
I 5
the ``User Supplementary Documents'' (USD),
E 5
E 2
the ``Programmer Reference Manual'' (PRM),
I 5
the ``Programmer Supplementary Documents'' (PSD),
E 5
and the ``System Manager's Manual'' (SMM).
D 2
Because of a shortage of time and resources, we have not
been able to reproduce the ``User Supplementary Documents'' (USD)
and the ``Programmer Supplementary Documents'' (PSD);
however, the sources for these manuals is contained on the
E 2
I 2
D 5
We have not reproduced the ``User Supplementary Documents'' (USD)
D 4
and the ``Programmer Supplementary Documents'' (PSD), however,
source for these manuals is contained on the
E 4
I 4
and the ``Programmer Supplementary Documents'' (PSD).
However, source for these manuals is contained on the
E 4
E 2
distribution tape in \f(CW/usr/src/share/doc/usd\fP
and \f(CW/usr/src/share/doc/psd\fP respectively.
E 5
D 2
Your distribution also includes
a tape containing complete sources for all architectures
and binaries for the architecture that you have selected.
E 2
I 2
D 3
The distribution includes complete sources for the SPARC,
MIPS and HP 68K architectures and binaries for the one architecture
that you have selected.
E 3
I 3
The distribution includes complete sources for the
Sun Microsystems SPARCstation, DEC 3100/5000, HP 9000/300, Omron Luna,
Sony NEWS, and 386/486-based PC architectures
and binaries for the one architecture that you have selected.
E 3
.PP
E 2
Before attempting to install your tape, you should carefully read
the document ``Installing and Operating 4.4BSD'';
it is the first document (after the manual pages) in the
``System Manager's Manual'' (SMM:1).
D 2
.PP
E 2
Unlike past releases, we have not provided a separate document
detailing the changes between 4.3BSD and 4.4BSD.
Instead, we have provided a summary of the changes in
section 3.5 of the ``Installing and Operating 4.4BSD'' document (SMM:1).
D 2
For an overview of the system, you should read the
E 2
I 2
For a general overview of the system, you should read the
E 2
introduction at the beginning of the ``User Reference Manual'' (URM).
.PP
This distribution is intended to be used on production systems;
it has been run extensively at several test sites and has
proven to be stable and reliable.
D 2
However, because of the shutdown of the CSRG,
there will not be anyone available at Berkeley to assist
E 2
I 2
However, because of the termination of the CSRG,
there will probably not be anyone available at Berkeley to assist
E 2
with technical problems,
so it should not be used by sites without enough local
expertise to find and fix any problems that are encountered.
D 2
If you have problems with an incomplete distribution or
difficulty in reading the tape(s),
you may call Pauline Schwartz at (510) 642-7780,
write to her, or contact her via electronic mail at pauline@CS.Berkeley.EDU.
She will \fBnot\fP be able to answer technical or installation questions.
E 2
I 2
If you have problems with the distribution itself or
encounter difficulties in reading the tape(s),
please contact Pauline Schwartz at +1-510-642-7780,
or via electronic mail at bsd-dist@CS.Berkeley.EDU.
Technical or installation questions may also be addressed to the
D 4
above electronic mail address, however, it is unknown for how long
anyone with the technical expertise to answer such questions will be
available.
E 4
I 4
above electronic mail address, however,
we cannot ensure that technical support will be available.
E 4
E 2
.PP
D 2
Be sure to read and abide by the due credit
requirements listed in your license agreement
if you plan to redistribute or use code from
this distribution in released products.
E 2
We have attempted to make the system as compliant with the
POSIX 1003.1 and 1003.2 standards as was possible at the time
of its release.
We have not been able to run it through any of the
verification test suites, thus,
you should not claim conformance with either standard without
D 4
first validing the code.
E 4
I 4
first validating the code.
E 4
I 2
.PP
If you redistribute or use code from this distribution in your own
products, please remember that due credit to the University is required
by the license agreement and the source code copyright notice.
E 2
.sp 2
D 3
.ti +2.5i
E 3
I 3
.in +2.5i
E 3
Sincerely yours,
.sp 3
D 3
.ti +2.5i
E 3
Marshall Kirk McKusick
D 3
.br
.ti +2.5i
E 3
I 3
.sp 3
E 3
D 2
Research Computer Scientist
E 2
I 2
Keith Bostic
E 2
.br
D 3
.ti +2.5i
E 3
Computer Systems Research Group
E 1
