h52765
s 00000/00000/00009
d D 8.1 93/06/09 12:49:57 bostic 3 2
c 4.4BSD snapshot (revision 8.1)
e
s 00004/00004/00005
d D 5.2 91/05/21 13:50:09 bostic 2 1
c sheer, raging paranoia; make the funny line the first line for tahoe
e
s 00009/00000/00000
d D 5.1 91/05/21 13:48:55 bostic 1 0
c date and time created 91/05/21 13:48:55 by bostic
e
u
U
t
T
I 1
D 2
#	%W% (Berkeley) %G%

# The following is for the brain-dead console processor on the
# Tahoe machines.
E 2
/dev/xfd0a:/: /	ufs	xx 1 1
I 2
# The previous is for the brain-dead console processor on the
# Tahoe machines.  Make sure it's the first line, just in case.

#	%W% (Berkeley) %G%
E 2

/dev/dk0a /			ufs	rw 1 1
/dev/dk0b none			swap	sw 0 0
/dev/dk0c /usr			ufs	rw 1 2
E 1
