h20902
s 00000/00000/00008
d D 8.1 93/06/08 11:37:10 bostic 2 1
c 4.4BSD snapshot (revision 8.1)
e
s 00008/00000/00000
d D 5.1 90/06/25 16:20:14 bostic 1 0
c date and time created 90/06/25 16:20:14 by bostic
e
u
U
t
T
I 1
.TH NAME SECTION local
.SH NAME
.SH SYNOPSIS
.SH DESCRIPTION
.SH FILES
.SH SEE ALSO
.SH DIAGNOSTICS
.SH BUGS
E 1
