h42212
s 00000/00000/00024
d D 8.1 93/06/08 11:37:13 bostic 5 4
c 4.4BSD snapshot (revision 8.1)
e
s 00002/00002/00022
d D 5.3 91/08/02 19:59:26 cael 4 3
c reverse .Dt and .Dd
e
s 00020/00013/00004
d D 5.2 90/12/21 20:51:02 cael 3 2
c update
e
s 00000/00000/00017
d D 5.1 90/06/05 01:03:19 cael 2 1
c 
e
s 00017/00000/00000
d D 1.1 90/06/05 01:01:31 cael 1 0
c date and time created 90/06/05 01:01:31 by cael
e
u
U
t
T
I 1
D 3
.\" the first six requests below are mandatory,
.Dt MDOC.TEMPLATE
E 3
I 3
.\" The following requests are required for all man pages.
D 4
.Dt DOCUMENT_TITLE
E 3
.Os BSD 4.4
E 4
D 3
.Dd January 1 1990
E 3
I 3
.Dd DATE
I 4
.Os
.Dt DOCUMENT_TITLE
E 4
E 3
.Sh NAME
.Sh SYNOPSIS
.Sh DESCRIPTION
D 3
.\"  These sections should be used when appropriate
.Sh ENVIRONMENT
.Sh EXAMPLES
.Sh FILES
.Sh SEE ALSO
.Sh STANDARDS
.Sh HISTORY
.Sh AUTHORS
.Sh DIAGNOSTICS
.Sh ERRORS
E 3
I 3
.\" The following requests should be uncommented and used where appropriate.
.\" This next request is for sections 2 and 3 function return values only.
.\" .Sh RETURN VALUES
.\" This next request is for sections 1, 6, 7 & 8 only
.\" .Sh ENVIRONMENT
.\" .Sh FILES
.\" .Sh EXAMPLES
.\" This next request is for sections 1, 6, 7 & 8 only
.\"     (command return values (to shell) and fprintf/stderr type diagnostics)
.\" .Sh DIAGNOSTICS
.\" The next request is for sections 2 and 3 error and signal handling only.
.\" .Sh ERRORS
.\" .Sh SEE ALSO
.\" .Sh STANDARDS
.\" .Sh HISTORY
.\" .Sh AUTHORS
.\" .Sh BUGS
E 3
E 1
