E=$D/troff
export E
if test "$G" = "-g"; then I=troff/memo_1; fi
eval "troff $G $E/~t.macs $E/memo_1 $GC$I $S"
if test "$G" = "-g"; then I=troff/memo_2; fi
eval "tbl $E/memo_2 | troff $G $E/~t.macs - $GC$I $S"
if test "$G" = "-g"; then I=troff/memo_3; fi
eval "tbl $E/memo_3 | troff $G $E/~t.macs - $GC$I $S"
if test "$G" = "-g"; then I=troff/memo_4; fi
eval "troff $G $E/~t.macs $E/memo_4 $GC$I $S"
if test "$G" = "-g"; then I=troff/table_1; fi
eval "troff $G $E/~t.macs $E/table_1 $GC$I $S"
if test "$G" = "-g"; then I=troff/table_2; fi
eval "troff $G $E/~t.macs $E/table_2 $GC$I $S"
if test "$G" = "-g"; then I=troff/add; fi
eval "troff $G -cm $E/add $GC$I $S"
