varianhost = renoir
versatechost = degas
imagenhost = arpa
mosthosts = ( ingres dali ernie arpa degas kim calder renoir matisse )
programhosts = ( monet ingres dali ernie arpa degas kim calder renoir matisse )

widthfiles = ( /usr/local/lib/font/devva/DESC.out
		/usr/local/lib/font/devvp/DESC.out
		/usr/local/lib/font/devip/DESC.out
		/usr/local/lib/font/devter/DESC.out
		/usr/local/lib/font/devter/specfile )

docs/deqn.1 -> ${programhosts}
		install /usr/man/manl/deqn.l ;
docs/ditroff.1 -> ${programhosts}
		install /usr/man/manl/ditroff.l ;
docs/dtbl.t.1 -> ${programhosts}
		install /usr/man/manl/dtbl.l ;
docs/dterm.1 -> ${programhosts}
		install /usr/man/manl/dterm.l ;
docs/grn.1 -> ${programhosts}
		install /usr/man/manl/grn.l ;
docs/ideal.1 -> ${programhosts}
		install /usr/man/manl/ideal.l ;
docs/pic.1 -> ${programhosts}
		install /usr/man/manl/pic.l ;
docs/font.t.l -> ${programhosts}
		install /usr/man/manl/font.l ;
docs/trchange.l -> ${programhosts}
		install /usr/man/manl/trchange.l ;

${widthfiles} -> ${mosthosts}

tmac -> ${programhosts}
		install /usr/local/lib/ditmac ;
ideal/lib -> ${programhosts}
		install /usr/local/ideal.lib ;

driver/troff.sh -> ${programhosts}
		install /usr/local/ditroff ;
driver/ideal.sh -> ${programhosts}
		install /usr/local/ideal ;
bin/dterm -> ${programhosts}
		install /usr/local/dterm ;
bin/troff -> ${programhosts}
		install /usr/local/troff_p ;
bin/eqn -> ${programhosts}
		install /usr/local/deqn ;
bin/tbl -> ${programhosts}
		install /usr/local/dtbl ;
ideal/idfilt/ditfilt -> ${programhosts}
		install /usr/local/ideal_f ;
bin/ideal -> ${programhosts}
		install /usr/local/ideal_p ;
bin/pic -> ${programhosts}
		install /usr/local/pic ;
bin/grn -> ${programhosts}
		install /usr/local/grn ;
gremlin/gremlin/gremlin -> ${mosthosts}
		install /usr/local/gremlin ;


driver/vfont.desc/fontmap -> ${varianhost}
		install /usr/lib/vfont/fontmap ;
driver/vfont.desc/fontmap -> ${versatechost}
		install /usr/lib/vfont/fontmap ;
bin/dvar -> ${varianhost}
		install /usr/local/dit2var ;
bin/dver -> ${versatechost}
		install /usr/local/dit2ver ;
bin/vsort -> ${versatechost}
		install /usr/local/dvsort ;
bin/dip -> ${imagenhost}
		install /usr/local/lib/dit-imagen ;
