h63649
s 00000/00000/00091
d D 8.1 93/06/06 11:48:39 bostic 6 5
c 4.4BSD snapshot (revision 8.1)
e
s 00002/00013/00089
d D 5.5 92/02/09 08:30:31 pendry 5 4
c merge in new release
e
s 00000/00001/00102
d D 5.4 91/05/20 01:42:23 pendry 4 3
c added sid
e
s 00010/00003/00093
d D 5.3 91/05/12 15:58:45 pendry 3 2
c checkpoint for network tape
e
s 00015/00007/00081
d D 5.2 91/03/17 13:50:57 pendry 2 1
c from amd5.3 alpha11
e
s 00088/00000/00000
d D 5.1 90/06/29 12:41:02 mckusick 1 0
c from Jan Pendry
e
u
U
t
T
I 1
D 5
#
D 2
# $Id: Makefile.config,v 5.2 90/06/23 22:21:19 jsp Rel $
E 2
I 2
D 3
# $Id: Makefile.config,v 5.2.1.4 91/03/03 20:54:39 jsp Alpha $
E 2
#
E 3
# Copyright (c) 1990 Jan-Simon Pendry
# Copyright (c) 1990 Imperial College of Science, Technology & Medicine
# Copyright (c) 1990 The Regents of the University of California.
# All rights reserved.
#
# This code is derived from software contributed to Berkeley by
# Jan-Simon Pendry at Imperial College, London.
#
# %sccs.include.redist.sh%
#
E 5
#	%W% (Berkeley) %G%
#
I 3
D 5
# $Id: Makefile.config,v 5.2.1.6 91/05/07 22:20:27 jsp Alpha $
E 5
I 5
# $Id: Makefile.config,v 5.2.2.1 1992/02/09 15:11:17 jsp beta $
E 5
#
E 3

#
# Comment/uncomment the following lines as required
#

#
# Where local include files are stored
#
#XINCLUDE = -I/usr/local/athena/include

#
# Define RESOLV if your C library does not include support
# for Hesiod and/or Named.
#
#RESOLV = -lhesiod -lresolv

#
# Define XLIBDIR if you have libraries not on the standard
# search path.
#
#XLIBDIR = -L/usr/local/athena/lib

#
# Define DBM if your C library does not include
# support for gdbm and/or ndbm.
#
#DBM = -lgdbm #-lndbm

#
# Define RPCLIB if your C library does not include
# support for RPC
#
#RPCLIB = -lrpc

#
# Include support for Network Information Service (NIS)
I 2
# Also define HAS_NIS_RELOAD to include map
# enumeration code implementing "cache:=all"
E 2
#
D 2
#HAS_NIS_MAPS = -DHAS_NIS_MAPS
E 2
I 2
D 5
HAS_NIS_MAPS = -DHAS_NIS_MAPS -DHAS_NIS_RELOAD
E 5
I 5
#HAS_NIS_MAPS = -DHAS_NIS_MAPS -DHAS_NIS_RELOAD
E 5
E 2

#
# Include support for file maps
#
HAS_FILE_MAPS = -DHAS_FILE_MAPS

#
# Include support for Hesiod
I 2
# Also define HAS_HESIOD_RELOAD to include zone
# transfer code implementing "cache:=all"
E 2
#
D 2
#HAS_HESIOD_MAPS = -DHAS_HESIOD_MAPS
E 2
I 2
#HAS_HESIOD_MAPS = -DHAS_HESIOD_MAPS -DHAS_HESIOD_RELOAD
E 2

#
# Include support for /etc/passwd
#
HAS_PASSWD_MAPS = -DHAS_PASSWD_MAPS

#
D 2
# Include support for mountd
# Not released - design not complete...
E 2
I 2
# Include support for union maps
E 2
#
D 2
#HAS_MOUNTD_MAPS = -DHAS_MOUNTD_MAPS
E 2
I 2
HAS_UNION_MAPS = -DHAS_UNION_MAPS
E 2

#
# Include support for ndbm.
# This removes support for gdbm and is only supported
# if your operating system supports ndbm
#
#HAS_NDBM_MAPS = -DHAS_NDBM_MAPS

I 2
#
# Include support for "regexp" maps
#
HAS_REGEXP = -DHAS_REGEXP
E 2

I 3
#
# Make sure that the hostname passed in RPC authentication packets
# contains a fully qualified domain name.  See nfs_ops.c
#
#HAS_NFS_QUALIFIED_NAMES = -DHAS_NFS_QUALIFIED_NAMES

E 3
##############################################################
# Do NOT edit the following lines
#
CONFIG = ${XINCLUDE} ${HAS_NIS_MAPS} ${HAS_FILE_MAPS} ${HAS_HESIOD_MAPS} \
D 2
		${HAS_NDBM_MAPS} ${HAS_MOUNTD_MAPS} ${HAS_PASSWD_MAPS}
E 2
I 2
		${HAS_NDBM_MAPS} ${HAS_MOUNTD_MAPS} ${HAS_PASSWD_MAPS} ${HAS_UNION_MAPS} \
D 3
		${HAS_REGEXP}
E 3
I 3
D 4
# %sccs.include.redist.sh%
E 4
		${HAS_REGEXP} ${HAS_NFS_QUALIFIED_NAMES}
E 3
E 2
E 1
