h51666
s 00002/00000/00110
d D 8.16 95/06/20 06:30:52 eric 27 26
c add "depend:" entries everywhere
e
s 00007/00005/00103
d D 8.15 95/04/10 13:11:27 eric 26 25
c macro-ize nroff stuff; use groff -Tascii by default
e
s 00003/00002/00105
d D 8.14 95/03/14 14:19:27 eric 25 24
c move <db.h> into /usr/sww/include
e
s 00001/00001/00106
d D 8.13 94/07/23 07:59:56 eric 24 23
c MIME 8 to 7 bit support
e
s 00006/00004/00101
d D 8.12 94/04/11 11:22:08 eric 23 22
c parameterize nroff so people can drop in other versions
e
s 00002/00002/00103
d D 8.11 94/03/05 11:50:01 eric 22 21
c include mailq.0 in install-docs and clean entries
e
s 00004/00001/00101
d D 8.10 94/02/03 08:08:41 eric 21 20
c add mailq.1 man page
e
s 00001/00001/00101
d D 8.9 93/12/20 10:52:09 eric 20 19
c make sendmail.st non-writable
e
s 00005/00003/00097
d D 8.8 93/12/01 19:12:53 eric 19 18
c make install be on a macro
e
s 00001/00001/00099
d D 8.7 93/09/03 07:32:51 eric 18 17
c fix sh compatibility problem
e
s 00005/00001/00095
d D 8.6 93/08/30 12:37:54 eric 17 16
c allow "make all"
e
s 00004/00001/00092
d D 8.5 93/08/15 09:08:22 eric 16 15
c add LDOPTS
e
s 00002/00006/00091
d D 8.4 93/08/14 11:32:06 eric 15 14
c eliminate YPCOMPAT (do this automatically if NIS and NDBM are defined)
e
s 00004/00001/00093
d D 8.3 93/07/21 11:45:49 eric 14 13
c old 4.3BSD changes
e
s 00003/00008/00091
d D 8.2 93/07/20 15:35:49 eric 13 12
c more portability changes, including ConvexOS support
e
s 00000/00000/00099
d D 8.1 93/06/07 10:27:00 bostic 12 11
c 4.4BSD snapshot (revision 8.1)
e
s 00002/00002/00097
d D 6.6 93/05/28 16:23:02 eric 11 10
c mention -DNIS in comments
e
s 00001/00001/00098
d D 6.5 93/02/26 06:52:59 eric 10 9
c portability fix for Suns
e
s 00006/00003/00093
d D 6.4 93/01/22 07:29:59 eric 9 8
c add clean: rule
e
s 00004/00000/00092
d D 6.3 93/01/21 15:18:58 eric 8 7
c more environment problems; limit resource exhaustion; fix incorrect
c name in Connection timed out message; ANSI C fixes; log message sender on
c returned mail during queue run; count recipients properly; fix YP code;
c diagnose "message timed out" properly
e
s 00001/00001/00091
d D 6.2 93/01/07 10:18:11 eric 7 6
c add map.o
e
s 00000/00000/00092
d D 6.1 92/12/21 16:08:57 eric 6 5
c Release 6
e
s 00004/00001/00088
d D 5.5 92/12/21 12:11:05 eric 5 4
c fix aliases to print error messages (rather than core dumping);
c allow words as error codes to $#error mailer
e
s 00001/00001/00088
d D 5.4 92/11/16 11:29:23 eric 4 3
c eliminate old DBM support; improve NDBM support
e
s 00003/00003/00086
d D 5.3 92/11/13 18:36:46 eric 3 2
c -DNDBM implies -DDBM
e
s 00085/00016/00004
d D 5.2 92/07/25 09:28:41 eric 2 1
c works on Ultrix now
e
s 00020/00000/00000
d D 5.1 92/07/21 14:14:45 bostic 1 0
c date and time created 92/07/21 14:14:45 by bostic
e
u
U
t
T
I 2
#
#  This Makefile is designed to work on the old "make" program.  It does
#  not use the obj subdirectory.  It also does not install documentation
#  automatically -- think of it as a quick start for sites that have the
#  old make program (I recommend that you get and port the new make if you
#  are going to be doing any signficant work on sendmail).
#
D 15
#  This has been tested on Ultrix.
#
E 15
E 2
I 1
#	%W% (Berkeley) %G%
D 2

# a very simple makefile...
# installation:
#	install sendmail, owned by root, group kmem, mode 6555
#	link sendmail to "newaliases" and "mailq"
#	delete sendmail.fc, sendmail.st
#	install sendmail.hf
#	refreeze the configuration file
E 2
#
D 2
#	note, this installation is NOT complete... it assumes that
#	sendmail is already running on the system and you know where
#	everything goes.
sendmail:
	@echo 'make of sendmail and manual pages started.'
	cc -I. *.c -ldbm -lcompat -lutil
E 2
I 2

# use O=-O (usual) or O=-g (debugging)
O=	-O

D 11
# define the database mechanism used for alias lookups:
E 11
I 11
# define the database mechanisms available for map & alias lookups:
E 11
D 4
#	-DDBM -- use old DBM
E 4
D 3
#	-DDBM -DNDBM -- use new DBM
E 3
I 3
#	-DNDBM -- use new DBM
E 3
#	-DNEWDB -- use new Berkeley DB
D 3
#	-DDBM -DNDBM -DNEWDB -- use both new DBM and new Berkeley DB
DBMDEF=	-DDBM -DNDBM -DNEWDB
E 3
I 3
D 11
#	-DNDBM -DNEWDB -- use both new DBM and new Berkeley DB
E 11
I 8
D 15
#	-DNDBM -DNEWDB -DYPCOMPAT -- use both plus YP compatility
I 11
#	-DNIS -- include client NIS support
E 15
I 15
#	-DNIS -- include NIS support
E 15
E 11
E 8
I 4
# The really old (V7) DBM library is no longer supported.
I 8
D 15
# If YPCOMPAT is defined and /var/yp/Makefile exists, sendmail will build
#   both the NEWDB and DBM libraries (the DBM just for YP).
E 15
I 15
# See READ_ME for a description of how these flags interact.
E 15
#
E 8
E 4
DBMDEF=	-DNDBM -DNEWDB
E 3

D 13
# define the load average calculation on your system: -DLA_TYPE=LA_INT,
#   -DLA_TYPE=LA_FLOAT, -DLA_TYPE=LA_SUBR, or -DLA_TYPE=LA_ZERO
# leave undefined to use internal guess
#LADEF=	-DLA_TYPE=LA_SUBR
E 13
I 13
# environment definitions (e.g., -D_AIX3)
ENVDEF=
E 13

I 5
D 13
# define UNSETENV if you need to compile in a local version of setenv
#ENVDEF=	-DUNSETENV

E 13
E 5
# see also conf.h for additional compilation flags

# include directories
D 25
INCDIRS=-I/usr/sww/include/db
E 25
I 25
INCDIRS=-I/usr/sww/include
E 25

I 16
# loader options
LDOPTS=

E 16
# library directories
LIBDIRS=-L/usr/sww/lib

# libraries required on your system
D 25
LIBS=	-ldb -ldbm
E 25
I 25
#  delete -lresolv if you are not running BIND 4.9.x
LIBS=	-ldb -ldbm -lresolv
E 25

# location of sendmail binary (usually /usr/sbin or /usr/lib)
BINDIR=	${DESTDIR}/usr/sbin

# location of sendmail.st file (usually /var/log or /usr/lib)
STDIR=	${DESTDIR}/var/log

# location of sendmail.hf file (usually /usr/share/misc or /usr/lib)
HFDIR=	${DESTDIR}/usr/share/misc

I 14
# additional .o files needed
OBJADD=

E 14
###################  end of user configuration flags  ######################

D 5
CFLAGS=	-I. $O ${INCDIRS} ${DBMDEF} ${LADEF}
E 5
I 5
D 13
CFLAGS=	-I. $O ${INCDIRS} ${DBMDEF} ${LADEF} ${ENVDEF}
E 13
I 13
CFLAGS=	-I. $O ${INCDIRS} ${DBMDEF} ${ENVDEF}
E 13
E 5

OBJS=	alias.o arpadate.o clock.o collect.o conf.o convtime.o daemon.o \
	deliver.o domain.o envelope.o err.o headers.o macro.o main.o \
D 7
	mci.o parseaddr.o queue.o readcf.o recipient.o \
E 7
I 7
D 24
	map.o mci.o parseaddr.o queue.o readcf.o recipient.o \
E 24
I 24
	map.o mci.o mime.o parseaddr.o queue.o readcf.o recipient.o \
E 24
E 7
	savemail.o srvrsmtp.o stab.o stats.o sysexits.o \
D 14
	trace.o udb.o usersmtp.o util.o version.o
E 14
I 14
	trace.o udb.o usersmtp.o util.o version.o ${OBJADD}
E 14

LINKS=	${DESTDIR}/usr/ucb/newaliases ${DESTDIR}/usr/ucb/mailq
BINOWN=	root
BINGRP=	kmem
BINMODE=6555

D 17
sendmail: ${OBJS}
E 17
I 17
D 21
ALL=	sendmail aliases.0 newaliases.0 sendmail.0
E 21
I 21
ALL=	sendmail aliases.0 mailq.0 newaliases.0 sendmail.0
E 21

all: ${ALL}

sendmail: ${BEFORE} ${OBJS}
E 17
D 16
	${CC} -o sendmail ${OBJS} ${LIBDIRS} ${LIBS}
E 16
I 16
	${CC} -o sendmail ${LDOPTS} ${OBJS} ${LIBDIRS} ${LIBS}
E 16

I 23
D 26
NROFF=	nroff -h
E 26
I 26
#NROFF=	nroff -h
NROFF=	groff -Tascii
MANDOC=	-mandoc
E 26

E 23
aliases.0: aliases.5
E 2
D 9
	nroff -h -man aliases.5 > aliases.0
E 9
I 9
D 23
	nroff -h -mandoc aliases.5 > aliases.0
E 23
I 23
D 26
	${NROFF} -mandoc aliases.5 > aliases.0
E 26
I 26
	${NROFF} ${MANDOC} aliases.5 > aliases.0
E 26
E 23
I 21

mailq.0: mailq.1
D 23
	nroff -h -mandoc mailq.1 > mailq.0
E 23
I 23
D 26
	${NROFF} -mandoc mailq.1 > mailq.0
E 26
I 26
	${NROFF} ${MANDOC} mailq.1 > mailq.0
E 26
E 23
E 21
E 9
I 2

newaliases.0: newaliases.1
E 2
D 9
	nroff -h -man newaliases.1 > newaliases.0
E 9
I 9
D 23
	nroff -h -mandoc newaliases.1 > newaliases.0
E 23
I 23
D 26
	${NROFF} -mandoc newaliases.1 > newaliases.0
E 26
I 26
	${NROFF} ${MANDOC} newaliases.1 > newaliases.0
E 26
E 23
E 9
D 2
	nroff -h -man sendmail.0 > sendmail.0
	@echo 'make of sendmail and manual pages completed.'
E 2
I 2

sendmail.0: sendmail.8
D 9
	nroff -h -man sendmail.8 > sendmail.0
E 9
I 9
D 23
	nroff -h -mandoc sendmail.8 > sendmail.0
E 23
I 23
D 26
	${NROFF} -mandoc sendmail.8 > sendmail.0
E 26
I 26
	${NROFF} ${MANDOC} sendmail.8 > sendmail.0
E 26
E 23
E 9

I 19
INSTALL=install

E 19
install: install-sendmail install-docs

install-sendmail: sendmail
D 19
	install -o ${BINOWN} -g ${BINGRP} -m ${BINMODE} sendmail ${BINDIR}
E 19
I 19
	${INSTALL} -o ${BINOWN} -g ${BINGRP} -m ${BINMODE} sendmail ${BINDIR}
E 19
D 10
	for i in ${LINKS}; do; rm -f $$i; ln -s ${BINDIR}/sendmail $$i; done
E 10
I 10
D 18
	for i in ${LINKS}; do ; rm -f $$i; ln -s ${BINDIR}/sendmail $$i; done
E 18
I 18
	for i in ${LINKS}; do rm -f $$i; ln -s ${BINDIR}/sendmail $$i; done
E 18
E 10
D 19
	install -c -o ${BINOWN} -g ${BINGRP} -m 666 /dev/null \
E 19
I 19
D 20
	${INSTALL} -c -o ${BINOWN} -g ${BINGRP} -m 666 /dev/null \
E 20
I 20
	${INSTALL} -c -o ${BINOWN} -g ${BINGRP} -m 644 /dev/null \
E 20
E 19
	    ${STDIR}/sendmail.st
D 19
	install -c -o ${BINOWN} -g ${BINGRP} -m 444 sendmail.hf ${HFDIR}
E 19
I 19
	${INSTALL} -c -o ${BINOWN} -g ${BINGRP} -m 444 sendmail.hf ${HFDIR}
E 19

# doesn't actually install them -- you may want to install pre-nroff versions
D 22
install-docs: aliases.0 newaliases.0 sendmail.0
E 22
I 22
install-docs: aliases.0 mailq.0 newaliases.0 sendmail.0
E 22
I 9

clean:
D 22
	rm -f ${OBJS} sendmail aliases.0 newaliases.0 sendmail.0
E 22
I 22
	rm -f ${OBJS} sendmail aliases.0 mailq.0 newaliases.0 sendmail.0
E 22
E 9

# dependencies
#   gross overkill, and yet still not quite enough....
${OBJS}: sendmail.h conf.h
I 27

depend:
E 27
E 2
E 1
