h27457
s 00014/00000/00000
d D 8.1 94/10/17 14:59:00 eric 1 0
c date and time created 94/10/17 14:59:00 by eric
e
u
U
t
T
I 1
#	%W% (Berkeley) %G%

BINDIR=	${DESTDIR}/usr/lib
BINOWN=	root
BINMODE=4555

mail.local: mail.local.c
	${CC} -O -o mail.local mail.local.c

install: mail.local
	install -s -o ${BINOWN} -m ${BINMODE} mail.local ${BINDIR}

clean:
	rm -f mail.local core a.out
E 1
